/* ==========================================================================
   NCG Template for Jirafeau V1.1
   Based on Elegantish template re-styled by JordyV itself based on the 
   standard Courgette template
   
   ---

   Provided under the same licence as Jirafeau, as this is originally the 
   'Courgette' stylesheet, just edited.
   ========================================================================== */


/* ==========================================================================
   Summary

   1 = Basic Style
   2 = Copyright
   3 = Options
   4 = Upload
   5 = Terms of service
   6 = Install
   7 = Admin
   8 = Download page

   ========================================================================== */

/* ==========================================================================
   1 = Basic Style
   ========================================================================== */


body {
  background: rgb(86,86,90);
  font-family: Verdana, sans-serif;
  color: #FFF;
  margin: 0;
  line-height: 1.5;
}

h1 {
  background-color:#FFF;
}

h1 a {
  font-weight: 200;
  display: block;
  background: url(logo.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  width: 300px;
  height: 150px;
  margin: 1em auto;
  position: relative;
  left: 0.4em;
}

h2 {
  text-align: center;
  color: #FFF;
}

fieldset {
  border: 0;
  padding: 1.5em;
  margin: 0 auto;
  border-radius: 8px;
  width: 20em;
  border: 6px dashed rgb(200, 200, 200);
  min-height: 15em;
  min-width: 30em;
  position: relative;
}

legend {
  padding: 0.5em 1em;
  color: #FFF;
  font-size: 1.2em;
  display: block;
  min-width: 8em;
  text-align: center;
}

table a {
  color: #000;
}

table a:hover,
table a:focus {
  text-decoration: none;
}

input[type="submit"] {
  background: rgb(127,33,34);
  border: 0;
  padding: 0.2em 2.0em;
  font-size: 1.1em;
  color: #FFF;
  border-bottom: 5px solid rgb(150,33,34);
  cursor: pointer;
  margin: 2px;
}

select,
input[type="text"],
input[type="password"] {
  border: 1;
  padding: 5px 5px;
  font-size: 1em;
}

select { width: 100%; }

input[type="submit"]:hover {
  border: 0;
  background: rgb(150,33,34);
  border-bottom: 5px solid rgb(127,33,34);
}

.inner {
  margin-top: 3em;
}

#upload fieldset {
  background: url(upload.png) no-repeat center;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#upload fieldset:hover{
  border-color: #FFF;
}

#upload > form {
  text-align: center;
}

#file_select {
  position: relative;
  width: 100%;
  height: 16em;
  cursor: pointer;
  opacity: 0;
}
#upload.file-selected #file_select {
  opacity: 1;
  height: 2em;
}
#upload.file-selected fieldset {
  background-image: none;
}

.noscript{
  padding: 2em;
  display:block;
  text-align: center;
  color: #fff;
  position: relative;
}

/* ==========================================================================
   2 = Copyright
   ========================================================================== */

#copyright {
  text-align: center;
  font-size: 0.7em;
  color: #FFF;
  padding: 1em;
}

#copyright a {
  color: #FFF;
  text-decoration: none;
}

#copyright a:hover,
#copyright a:focus {
  text-decoration: underline;
}

/* ==========================================================================
   3 = Options
   ========================================================================== */

#options {
  position: relative;
  z-index: 10;
  background: transparent;
  width: 100%;
  height: 90%;
}

#options tr { height: 2.7em; }

#option_table tr:first-child {
  width: 100%;
  height: 100%;
}

#options input[type="submit"] {
  position: relative;
  left: 11.2em;
}

/* ==========================================================================
   4 = Upload
   ========================================================================== */

#upload_finished,
#uploading,
.message,
.error {
  text-align: center;
  color: #FFF;
}

.info {
  text-align: left;
  color: #FFF;
}

#upload_finished > p:nth-child(1) {
  color: rgb(127,33,34);
  font-weight: bold;
  background-color: #FFF;
}

#upload_finished div p:nth-child(1) {
  font-weight: bold;
}

#upload_finished a {
  text-decoration: none;
  color: #FFF;
}

#uploading a {
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

#uploaded_percentage {
  font-size: 2em;
  font-weight: bold;
}

#upload_finished a:hover,
#uploading a:hover,
#upload_finished a:focus,
#uploading a:focus {
  text-decoration: underline;
}

.message,
.error {
  color: #FFF;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(137,33,34);
}

#upload_link_email {
  margin-left: 10px;
}

#upload_image_email {
  padding-bottom: 15px;
  padding-left: 20px;
  background: url(email.png) no-repeat;
}

/* ==========================================================================
   5 = Terms of service
   ========================================================================== */

#tos{
  padding: 0 10px;
}

#tos h1, #tos h2, #tos h3{
  font-weight: bold;
  color: #FFF;
  margin: 0 auto;
  padding: 25px 5px 5px 5px;
}

#tos h1{
  font-size: 2.5em;
}

#tos h2{
  font-size: 2em;
}

#tos h3{
  font-size: 1.5em;
}

#tos p{
  color: #FFF;
  margin: 0 auto;
  padding: 5px;
  font-size: 1.0em;
}

#tos ul li{
  list-style: none;
  padding: 0 0 5px 0;
}

#tos a{
  color: #FFF;
}

#tos .licence{
  text-align: center;
  font-size: 0.7em;
  color: #FFF;
  padding: 1em;
}

/* ==========================================================================
   6 = Install
   ========================================================================== */

#install fieldset,
#install + fieldset {
  width: auto;
  max-width: 50em;
  border: 6px dashed rgb(200,200,200);
}

#install table,
#install + fieldset table {
  width: 100%;
  border-collapse: collapse;
}

#install td,
#install + fieldset td {
  padding: 0.5em 1em;
  border-bottom: 0;
}

#install td:empty {
  width: 13.1em;
}

#install table form:nth-child(odd),
#install + fieldset tr:nth-child(odd) {
  background: rgb(200,200,200);
}

#install fieldset > form {
  margin-top: 2em;
  text-align: center;
}

#install form {
  display: table;
  width: 100%;
}

#install td:last-child { text-align: left; }

#install .info { width: 19em; }

#install input[type="submit"] {
  min-width: 10.5em;
}

#install + fieldset table {
  font-size: 0.9em;
}

#install + fieldset td:first-child input[type="submit"] {
  background: none;
  padding: 0;
  color: #000;
  font-weight: bold;
  border-bottom: 0;
}

#install + fieldset td:first-child input[type="submit"]:hover,
#install + fieldset td:first-child input[type="submit"]:focus {
  text-decoration: underline;
}

/* ==========================================================================
   7 = Admin
   ========================================================================== */

#admin fieldset,
#admin + fieldset {
  width: auto;
  max-width: 1000em;
  border: 6px dashed #FFF;
}

#admin table,
#admin + fieldset table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #FFF;
}

#admin td,
#admin + fieldset td {
  padding: 0.5em 1em;
  border: 0px solid #FFF;
  border-bottom: 2px solid #FFF;
}

#admin td:empty {
  width: 13.1em;
}

#admin table form:nth-child(odd),
#admin + fieldset tr:nth-child(odd) {
  background: transparent;
}

#admin fieldset > form {
  margin-top: 2em;
  text-align: center;
}

#admin form {
  display: table;
  width: 100%;
}

#admin td:last-child { text-align: left; }

#admin .info { width: 19em; }

#admin input[type="submit"] {
  min-width: 10.5em;
}

#admin + fieldset table {
  font-size: 0.9em;
}

#admin + fieldset td:first-child input[type="submit"] {
  background: none;
  padding: 0;
  color: #000;
  font-weight: bold;
  border-bottom: 0;
}

#admin + fieldset td:first-child input[type="submit"]:hover,
#admin + fieldset td:first-child input[type="submit"]:focus {
  text-decoration: underline;
}

/* ==========================================================================
   8 = Download page
   ========================================================================== */

#self_destruct {
  font-weight: bold;
  color: red;
  background-image: url('pixel_bomb.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
